<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Spittr</title>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}">
        <script type="text/javascript" th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/page.js}"></script>
    </head>
    <body>
        <h1>Your Profile</h1>
        <span th:text="${spitter.username}"></span><br />
        <span th:text="${spitter.firstName}"></span>
        <span th:text="${spitter.lastName}"></span>

        <ul class="spittleList" />
    </body>
</html>